.Sprite {
	position: fixed;
	object-fit: contain;
	pointer-events: none;
}

.SpriteHitboxIndicator {
	position: fixed;
	z-index: 5;
	box-sizing: border-box;
	border: 3px dashed red;
	background: rgba(255, 0, 0, 0.5);
}
